# Log files
*.log

# Temporary files
*.tmp

# Archives
*.tar.gz

# Environment files
.env

# Private keys
*.pem

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# (Recommended to commit)
!.terraform.lock.hcl
